<div class="input-area">
    <p>Please input an album ID to search for an album. Accepted values are from 1 to 100.</p>
    <form *ngIf="!isLoading" (submit)="onSubmit()" [formGroup]="form">
        <div>
            <mat-form-field>
                <input matInput type="number" min="1" max="100" placeholder="example: 12" formControlName="id">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" type="submit" *ngIf="albumRecords.length==0">Display Album</button>
            <button mat-raised-button color="primary" type="submit" *ngIf="albumRecords.length!=0">Display A Different Album</button>
        </div>
    </form>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
<hr>
<p class="filler-text" *ngIf="albumRecords.length==0">Your results be shown here</p>
<p class="explanation-text" *ngIf="albumNumber && !isLoading">Displaying the results for album {{albumNumber}}</p>
<mat-accordion>
    <mat-expansion-panel *ngFor="let record of albumRecords">
        <mat-expansion-panel-header>
            <mat-panel-title  class="preview-title-img">
                <img src="{{record.iconUrl}}" alt="Icon View">
            </mat-panel-title>
            <mat-panel-description>
                <div><b>{{record.id}}:</b> </div>
                <div class="spacer"></div>
                <div>{{record.title}}</div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="{{record.largeUrl}}" alt="Full View">
    </mat-expansion-panel>
</mat-accordion>